<p style="color: green" class="mb-4"><%= notice %></p>

<h1 class="mb-4">Orders</h1>

<div id="orders" class="mb-4">
  <% @orders.each do |order| %>
    <div class="card mb-3">
      <div class="card-body">
        <%= render order %>
        <p class="mt-3">
          <%= link_to "Show this order", order, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New order", new_order_path, class: "btn btn-success" %>
